.product_screen{
    padding: 3rem;
}

.screen{
    padding: 4rem;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(6, 1fr);
   & img{
        grid-column: 1/5;
        width: 100%;
        height: 60rem;
        object-fit: cover;
    }
    &-body{
        padding: 1rem;
        grid-column: 5/-1;
        text-transform: capitalize;
        display: flex;
        flex-direction: column;
      &>*{
          padding: 3rem;
      }
    }
}
//more details
.more_details{
    padding: 1rem;
    border: 1px solid lightgrey;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    &>*{
        display: flex;
        justify-content: space-around;
        align-items: center;
      &>*{
          padding: 2rem 0;
      }
    }
}

//qty
.quantity{
    display: flex;
    justify-content: center;
    align-items: center;
    & span{
        text-align: center;
        padding: 1rem;
    }

}